{% extends "base.html" %}
{% import "feed/macros.html" as macros %}
{% set active_page = "feed" %}

{% block title %}Feed{% endblock %}

{% block body %}
<div class="row">
	<div class="col-xl-6 offset-xl-3">
		<div class="d-flex flex-row justify-content-between align-items-center">

			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<a href="{{ url_for('feed.feed') }}" class="btn btn-secondary active btn-sm">all</a>
				<a href="{{ url_for('feed.feed', saved=True) }}" class="btn btn-secondary btn-sm">saved</a>
			</div>

			{{ macros.pagination(posts, 'feed.feed', args={'saved': request.args.get('saved')}) }}

		</div>

		<div id="feed-container">
			{% for post in posts.items %}
			{{ macros.feed_item(post) }}
			{% endfor %}
		</div>

		<div class="d-flex flex-row justify-content-end">
			{{ macros.pagination(posts, 'feed.feed', args={'saved': request.args.get('saved')}) }}
		</div>

	</div>
</div>
{% endblock %}