{% macro pagination(items, endpoint, args) %}
<nav aria-label="Page navigation">
	<ul class="pagination pagination-sm my-2">
		<li class="page-item">
			<a class="page-link" href="{{ url_for(endpoint, page=1, **args) }}" title="First">
				<i class="las la-angle-double-left"></i>
			</a>
		</li>

		{% if items.has_prev %}
		<li class="page-item">
			<a class="page-link" href="{{ url_for(endpoint, page=items.prev_num, **args) }}" title="Previous">
				<i class="las la-angle-left"></i>
			</a>
		</li>
		{% else %}
		<li class="page-item disabled">
			<a class="page-link" href="#" title="Previous">
				<i class="las la-angle-left"></i>
			</a>
		</li>
		{% endif %}

		<!-- previous page number -->
		{% if items.has_prev %}
		<li class="page-item">
			<a class="page-link" href="{{ url_for(endpoint, page=items.prev_num, **args) }}">{{items.prev_num}}</a>
		</li>
		{% endif %}

		<!-- current page number -->
		<li class="page-item disabled">
			<a class="page-link" href="#">{{ items.page }}</a>
		</li>

		<!-- next page number -->
		{% if items.has_next %}
		<li class="page-item">
			<a class="page-link" href="{{ url_for(endpoint, page=items.next_num, **args) }}">{{items.next_num}}</a>
		</li>
		{% endif %}

		{% if items.has_next %}
		<li class="page-item">
			<a class="page-link" href="{{ url_for(endpoint, page=items.next_num, **args) }}" title="Next">
				<i class="las la-angle-right"></i>
			</a>
		</li>
		{% else %}
		<li class="page-item disabled">
			<a class="page-link" href="#" title="Next">
				<i class="las la-angle-right"></i>
			</a>
		</li>
		{% endif %}

		<li class="page-item">
			<a class="page-link" href="{{ url_for(endpoint, page=items.pages, **args) }}" title="Last">
				<i class="las la-angle-double-right"></i>
			</a>
		</li>
	</ul>
</nav>
{% endmacro %}

{% macro feed_item(post) %}
<div id="post-{{ post.id }}" class="card mb-2">
	<div class="card-header">
		<div class="d-flex flex-row justify-content-between align-items-start">
			<div>
				<h5 class="card-title m-0"><a href="{{ post.url }}" class="text-dark">{{ post.title }}</a></h5>
				<small class="d-flex flex-row text-secondary">
					<a href="{{ post.subscription.url }}">{{ post.feed_title }}</a>
					<span class="mx-1">|</span>
					{{ post.pub_date | date('%a %b %d, %Y at %I:%m %p') }}
				</small>
			</div>
			<div class="btn-group">
				{% if post.saved %}
				<button
					class="btn btn-sm btn-primary disabled"
					title="Saved"
					hx-post="{{ url_for('feed.toggle_save_post', post_id=post.id) }}"
					hx-trigger="click"
					hx-target="#post-{{ post.id }}"
					hx-swap="outerHTML">
					<i class="las la-lg la-bookmark"></i>
				</button>
				{% else %}
				<button
					class="btn btn-sm btn-outline-primary"
					title="Save"
					hx-post="{{ url_for('feed.toggle_save_post', post_id=post.id) }}"
					hx-trigger="click"
					hx-target="#post-{{ post.id }}"
					hx-swap="outerHTML">
					<i class="lar la-lg la-bookmark"></i>
				</button>
				{% endif %}
				<button
					class="btn btn-sm btn-outline-danger"
					title="Delete"
					hx-delete="{{ url_for('feed.delete_post', post_id=post.id) }}"
					hx-trigger="click"
					hx-target="#post-{{ post.id }}"
					hx-swap="outerHTML">
					<i class="la la-lg la-trash-alt"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="card-body">
		{{ post.content | safe }}
	</div>
</div>
{% endmacro %}